<% if logged_in? %>
    <div class="event-form">
        <p class="new-event">New Event</p>
        <%= form_for @event do |f| %>
        
            <div class="input">
                <%= f.label :name %>
                <%= f.text_field :name %>
            </div>
                
            <div class="input">
                <%= f.label :description %>
                <%= f.text_area :description %>
            </div>
        
            <div class="input">
                <%= f.label :date %>
                <%= f.date_select :date %>
            </div>
        
            <%= f.submit "Create Event", class: "submit-btn"%>
        
        <% end  %>
    </div>
<% end %>


<div class="centered">
    <h1>Upcoming Events</h1>
    <% @events.upcoming.each do |event| %>
        <div class="event-tile">
            <h2><%= link_to event.name, event %></h2>
            <p><%= event.date %></p>
            <p><%= event.description %></p>
            <p>Created by: <%= link_to event.creator.name, event.creator %></p>
        </div>
    <% end %>
</div>

<div class="centered">
    <h1>Past Events</h1>
    <% @events.past.each do |event| %>
        <div class="event-tile">
            <h2><%= link_to event.name, event %></h2>
            <p><%= event.date %></p>
            <p><%= event.description %></p>
            <p>Created by: <%= link_to event.creator.name, event.creator %></p>
        </div>
    <% end %>
</div>