<div class="centered">
    <h1><%= @event.name %></h1>
    <p>Description: <%= @event.description %></p>
    <p>Creator:  <%= link_to @event.creator.name, user_path(@event.creator_id) %> </p>
</div>

<% if logged_in? %>
    <%= form_for @attendance do |f| %>
        <%= f.submit "Attend to this Event" %> 
        <%= f.hidden_field :user_id, value: session[:id] %>
        <%= f.hidden_field :event_id, value: params[:id] %>
    <% end %>
<% end %>

<ul>Attendees:
    <% @event.attendees.each do |attendee| %>
        <li> <%= link_to attendee.name, user_path(attendee.id) %> </li>
    <% end %>
</ul>